*{
  margin: 0;
  padding: 0;
}

html, body{
  overflow-x: hidden;
}

.app{
  display: flex;
  height: 100vh;
}

.section1{

  height: 100vh;
  width: 100vw;


  background-image: url('./components/back1.png');
  background-size: auto 100%;
  background-position: right;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section2{
  height: 100vh;
  width: 100vw;

  background-color: green;
}

.section3{
  height: 100vh;
  width: 100vw;

  background-color: blue;
}
